altgraph==0.17.5
certifi==2025.11.12
charset-normalizer==3.4.4
dbus-python==1.4.0
idna==3.11
notify2==0.3.1
packaging==25.0
pyinstaller==6.17.0
pyinstaller-hooks-contrib==2025.10
requests==2.32.5
setuptools==80.9.0
urllib3==2.6.2
